<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="is.hi.handy_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/handyicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Handyapp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.HandyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreatePortfolioItemActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateAdActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterHandyUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Handy"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>